*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;
	text-decoration: none;
	list-style: none;
}
body{
	background: #011627;
	color: #fff;
}
nav{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 15%;
	background: transparent;
	transition: all .50s ease;
}
.logo{
	color: #fff;
	font-size: 35px;
	font-weight: 500;
	cursor: pointer;
}
.navlist{
	display: flex;
}
.navlist a{
	margin: 0px 50px;
	padding: 5px 10px;
	color: #d6d6d6;
	font-size: 25px;
	font-weight: 500;
	transition: all .50s ease;
}
.navlist a:hover{
	color: #fff;
}

#menu-icon{
	color: #fff;
	font-size: 38px;
	z-index: 10001;
	cursor: pointer;
	display: none;
}
section{
	padding: 0 15%;
}
.hero{
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(to right, rgba(0,0,0,0.1),rgba(0,0,0,0.3)), url(../img/background.png);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.main-text h1{
	font-size: 90px;
	font-weight: 800;
}
.main-text p{
	font-size: 35px;
	font-weight: 600;
}

/* Desktop Screen */
@media (max-width: 1350px){
	nav{
		padding: 20px 5%;
	}
	section{
		padding: 0px 5%;
	}
	
	.navlist{
		display: flex;
	}
	.navlist a{
		font-size: 20px;	
	}
}
/* Tablet Screen */
@media (max-width: 950px){
	.main-text h1{
		font-size: 70px;
	}
	.main-text p{
		font-size: 22px;
	}
	.logo{
		font-size: 30px;
	}
	.btn{
		padding: 9px 27px;
	}
}
/* Sidebar */
@media (max-width: 860px){
	#menu-icon{
		display: block;
	}
	.navlist{
		position: absolute;
		top: -800px;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		background: #404142;
		transition: all .50s ease;
		text-align: center;
	}
	.navlist a{
		color: #fff;
		padding: 1rem;
		border-left: 2px solid #fff;
		margin: 1rem;
		display: block;
	}
	.navlist a:hover{
		background: #fff;
		color: #11d0e5;
	}
	.navlist.open{
		top: 100%;
	}
}
/* Moblie Screen */
@media (max-width: 750px){
	.main-text h1{
		font-size: 50px;
	}
}